<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find moss)/maps/RMmap-2.yaml">
  </node>

  <!-- Run the amcl location -->
  <include file="$(find amcl)/examples/amcl_omni.launch"/>

  <!-- Configure the move_base pack -->
  <include file="$(find moss)/move_base/move_base.xml"/>

</launch>
